.app {
    width: 400px;
    margin: 300px auto;
    border: 1px solid #ccc;
}

.app h2 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.app label {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0 20px 40px;
}

.app input {
    float: right;
    margin-right: 40px;
    width: 200px;
}

.app button {
    width: 320px;
    margin: 30px 40px;
}

.app div {
    color: red;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0 40px;
}